/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/03/2020, 11:25:46 PM
    Author     : SOPHIA
*/


/* TEXT CSS */
.titleHeading{
    -fx-color: black;
    -fx-font-weight: bolder;
    -fx-font-size: 22px;
}

.boldText{
     -fx-font-weight:bold;
}

/* Items */
.button:hover{
    -fx-background-color: #c0cdd6;
}
.buttonNormal{

    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;

}
.textbox{
    -fx-border-color: #d5e2ea;
}
.button3{
    -fx-border-color: #c0cdd6;
    -fx-border-width: 1 1 1 1;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;

}
.leftBackground{

    -fx-background-color:  #faf4ff;
    /*#dbe4ed; #faf4ff*/
}
.rightBackground{
    -fx-background-color: #ffffff;

    /*  #e7eaed faf4ff*/
    /*#e7e7e7;*/

}
.sideButton:hover {
    -fx-background-color: #daf1f9; 
    -fx-background-radius: 0 20 20 0;
    /* -fx-padding: 15*/
    /*#a3bad2*/
    /* b2ebf2*/
}
.preferredButton {-fx-background-color: #daf1f9;} /* Blue   #dbe4ed*/
.table-column {
    -fx-alignment: CENTER;
    -fx-text-alignment: center;

}
.table-row-cell:selected {
    -fx-background-color: #5378d3;


    /*#a3bad2*/
}
.sidebarColoured{
    -fx-background-color:#daf1f9;  
    -fx-background-radius: 0 20 20 0;
    /*#c0cdd6*/
}
#stackPane{
    -fx-hgap: 100%;
    -fx-vgap: 100%;   
}
.roundedButton{
    -fx-background-radius: 20 20 20 20;
    -fx-background-color: #ffffff;
    -fx-padding: 15

}
.roundedButton:hover {
    -fx-background-color: #daf1f9; 
}
.borderButton{

    -fx-border-color: #c0cdd6;
    -fx-border-width: 1 1 1 1;
}
/*#6495ED*/

/*00BFFF*/
